---
import Layout from '../layouts/Layout.astro';
import MovingCircles from '../components/MovingCircles.tsx';
import { signal, useSignal } from "@preact/signals";

export const locale = signal("en");
---

<Layout title="DataVision Insights">

	<MovingCircles />

	<section class="max-w-screen-md mx-auto">
		<h1 class="text-4xl font-semibold mb-2">Transformamos datos en desiciones</h1>
		<h2 class="common-ligatures text-2xl font-normal text-fg-muted">Soluciones personalizadas en análisis predictivo para optimizar y hacer crecer tu negocio. |</h2>
	</section>
</Layout>